* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    height: 100vh;
}

.gameContainer {
    display: flex;
    gap: 1rem;
}
.toolbar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.tool {
    height: 1rem;
}


.grid{
    display: flex;
}
.column{
    display:flex;
    flex: 1;
    flex-direction: column;
}
.row{
    height:1rem;
    width:1rem;
    background-color: pink;
    box-sizing: border-box;
    border-style: solid;
    border-width: 0.1rem;
    user-select: none;
    -webkit-user-drag: none;
}

.row:hover{
    background-color: black;
}

.colored{
    background-color: red;
}